!!! 5
%html
  %head
    %link(rel="stylesheet" href="/css/style.css")
    %link(href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css')
    %link(href='http://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css')
    %link(href='http://fonts.googleapis.com/css?family=Ubuntu:regular,bold' rel='stylesheet' type='text/css')

    %title Pasta
  %body
    #mainPasta
      %h1 Pasta
      %form{:method => "post"}
        %input{:name => "title", :class => "text", :placeholder => "Ime paste"}
        %input{:name => "author", :class => "text", :placeholder => "Ime autora"}
        %select{:name => "language", :class => "native"}
          %option text
          %option Cucumber        
          %option Gherkin
          %option abap
          %option ada
          %option ada95ada2005
          %option antlr-as
          %option antlr-actionscript
          %option antlr-cpp
          %option antlr-csharp
          %option antlr-c#
          %option antlr-java
          %option antlr-objc
          %option antlr-perl
          %option antlr-python
          %option antlr-ruby
          %option antlr-rb
          %option antlr
          %option apacheconf
          %option aconf
          %option apache
          %option applescript
          %option as
          %option actionscript
          %option as3
          %option actionscript3
          %option aspx-cs
          %option aspx-vb
          %option asy
          %option asymptote
          %option basemake
          %option bash
          %option sh
          %option ksh
          %option bat
          %option bbcode
          %option befunge
          %option boo
          %option brainfuck
          %option bf
          %option c-objdump
          %option c
          %option cfm
          %option cfs
          %option cheetah
          %option spitfire
          %option clojure
          %option clj
          %option cmake
          %option coffee-script
          %option coffeescript
          %option common-lisp
          %option cl
          %option console
          %option control
          %option cpp
          %option c++
          %option cpp-objdump
          %option c++-objdumb
          %option cxx-objdump
          %option csharp
          %option c#
          %option css+django
          %option css+jinja
          %option css+erb
          %option css+ruby
          %option css+genshitext
          %option css+genshi
          %option css+mako
          %option css+mako
          %option css+myghty
          %option css+php
          %option css+smarty
          %option css
          %option cython
          %option pyx
          %option d-objdump
          %option d
          %option delphi
          %option pas
          %option pascal
          %option objectpascal
          %option diff
          %option udiff
          %option django
          %option jinja
          %option dpatch
          %option dylan
          %option erb
          %option erl
          %option erlang
          %option evoque
          %option felix
          %option flx
          %option fortran
          %option gas
          %option genshi
          %option kid
          %option xml+genshi
          %option xml+kid
          %option genshitext
          %option glsl
          %option gnuplot
          %option go
          %option groff
          %option nroff
          %option man
          %option haml
          %option HAML
          %option haskell
          %option hs
          %option html+cheetah
          %option html+spitfire
          %option html+django
          %option html+jinja
          %option html+evoque
          %option html+genshi
          %option html+kid
          %option html+mako
          %option html+mako
          %option html+myghty
          %option html+php
          %option html+smarty
          %option html
          %option hx
          %option haXe
          %option ini
          %option cfg
          %option io
          %option irc
          %option java
          %option js+cheetah
          %option javascript+cheetah
          %option js+spitfire
          %option javascript+spitfire
          %option js+django
          %option javascript+django
          %option js+jinja
          %option javascript+jinja
          %option js+erb
          %option javascript+erb
          %option js+ruby
          %option javascript+ruby
          %option js+genshitext
          %option js+genshi
          %option javascript+genshitext
          %option javascript+genshi
          %option js+mako
          %option javascript+mako
          %option js+mako
          %option javascript+mako
          %option js+myghty
          %option javascript+myghty
          %option js+php
          %option javascript+php
          %option js+smarty
          %option javascript+smarty
          %option js
          %option javascript
          %option jsp
          %option lhs
          %option literate-haskell
          %option lighty
          %option lighttpd
          %option llvm
          %option logtalk
          %option lua
          %option make
          %option makefile
          %option mf
          %option bsdmake
          %option mako
          %option mako
          %option matlab
          %option octave
          %option matlabsession
          %option minid
          %option modelica
          %option modula2
          %option m2
          %option moocode
          %option mupad
          %option mxml
          %option myghty
          %option mysql
          %option nasm
          %option newspeak
          %option nginx
          %option numpy
          %option objdump
          %option objective-c
          %option objectivec
          %option obj-c
          %option objc
          %option objective-j
          %option objectivej
          %option obj-j
          %option objj
          %option ocaml
          %option ooc
          %option perl
          %option pl
          %option php
          %option php3
          %option php4
          %option php5
          %option pot
          %option po
          %option pov
          %option prolog
          %option py3tb
          %option pycon
          %option pytb
          %option python
          %option py
          %option python3
          %option py3
          %option ragel-c
          %option ragel-cpp
          %option ragel-d
          %option ragel-em
          %option ragel-java
          %option ragel-objc
          %option ragel-ruby
          %option ragel-rb
          %option ragel
          %option raw
          %option rb
          %option ruby
          %option rbcon
          %option irb
          %option rconsole
          %option rout
          %option rebol
          %option redcode
          %option rhtml
          %option html+erb
          %option html+ruby
          %option rst
          %option rest
          %option restructuredtext
          %option sass
          %option SASS
          %option scala
          %option scheme
          %option scm
          %option smalltalk
          %option squeak
          %option smarty
          %option sourceslist
          %option sources.list
          %option splus
          %option s
          %option r
          %option sql
          %option sqlite3
          %option squidconf
          %option squid.conf
          %option squid
          %option tcl
          %option tcsh
          %option csh
          %option tex
          %option latex
          %option trac-wiki
          %option moin
          %option vala
          %option vapi
          %option vb.net
          %option vbnet
          %option vim
          %option xml+cheetah
          %option xml+spitfire
          %option xml+django
          %option xml+jinja
          %option xml+erb
          %option xml+ruby
          %option xml+evoque
          %option xml+mako
          %option xml+mako
          %option xml+myghty
          %option xml+php
          %option xml+smarty
          %option xml
          %option xslt
          %option yaml

        %br    
        %textarea{:name => "body", :class => "text", :placeholder => "Tekst ide ovde....", :cols => "80", :rows => "20", :id => "code"}(required)
        %br
        %input{:type => "submit", :class => "native",  :value => "Pošalji"}
        %h2 Poslednje:
        - @pastes.each do |p|
          %div.pastestub
            %a(href="/#{p.id}" class="name")= "#{p.title}"
            %br
            #{p.author}

